.select {
  .select__control {
    display: flex;

    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom, center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    transition: background 0s ease-out 0s;

    background-image: linear-gradient(#707cd2, #707cd2),
      linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
  }

  .select__control--is-focused {
    background-image: linear-gradient(#707cd2, #707cd2),
      linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13)) !important;

    background-size: 100% 2px, 100% 1px;
    outline: 0;
    transition-duration: 0.3s;
  }
}
